asgiref
autopep8
bootstrap4
Django==5.2
django-appconf
django-blog
django-crispy-forms
django-select2
django-widget-tweaks
flake8
mccabe
pycodestyle
pyflakes
pytz
sqlparse
toml
tzdata
django-extensions
celery
channels
channels_redis
cryptography
daphne
dj-database-url
django-after-response
django-allauth
django-appconf
django-celery-beat
django-cors-headers
django-cotton
django-countries
django-debug-toolbar
django-fontawesome-5
django-htmx
django-redis
django-split-settings
django_celery_results
djangorestframework
openpyxl
pillow
python-decouple