{% load static globals %}{% for cssurl in dz_array.app.global_css.top %}
    <link rel="stylesheet" href="{% static cssurl %}">{% endfor %}
{% for cssurl in dz_array.app.page_level.css|getdata:request.path %}
    <link rel="stylesheet" href="{% static cssurl %}" >{% endfor %}
{% for cssurl in dz_array.app.global_css.down %}
    <link rel="stylesheet" href="{% static cssurl %}">{% endfor %}
{% for htmx_url in dz_array.app.htmx %}
    <script src="{% static htmx_url %}" defer></script>{% endfor %}
