<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<c-base.partials.top.meta />
{% load static globals %}{% for cssurl in dz_array.app.auth.css %}
    <link rel="stylesheet" href="{% static cssurl %}">{% endfor %}
</head>

<body class="bg-white">
	<!-- Begin Wrapper -->
	<div class="main-wrapper auth-bg">
		<!-- Start Content -->
		<div class="container-fuild">
			<div class="w-100 overflow-hidden position-relative flex-wrap d-block vh-100">

				<!-- start row -->
				<div class="row justify-content-center align-items-center vh-100 overflow-auto flex-wrap ">
					<div class="col-lg-4 mx-auto">
						<c-auth.partials.login_form />
					</div><!-- end col -->
				</div>
				<!-- end row -->
			</div>
		</div>
		<!-- End Content -->
	</div>
	<!-- End Wrapper -->
{% load static globals %}{% for cssurl in dz_array.app.auth.js %}
    <link rel="stylesheet" href="{% static cssurl %}">{% endfor %}
</body>

</html>