                    <div id="sidebar-menu" class="sidebar-menu">{% load static %}
                        <ul>
                            <li>
                                <ul>
                                    <li>
                                        <a href="super-admin-dashboard.html">
                                            <i class="isax isax-home-25 text-dark"></i><span>Dashboard</span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="companies.html">
                                            <i class="isax isax-buildings-25 text-dark"></i><span>Companies</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="subscriptions.html">
                                            <i class="isax isax-receipt-text5 text-dark"></i><span>Subscriptions</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="packages.html">
                                            <i class="isax isax-layer5 text-dark"></i><span>Packages</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="domain.html">
                                            <i class="isax isax-global5 text-dark"></i><span>Domain</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="purchase-transaction.html">
                                            <i class="isax isax-document-text5 text-dark"></i><span>Purchase Transaction</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="sidebar-footer">
                            <div class="trial-item bg-white text-center border">
                                <div class="bg-light p-3 text-center">
                                    <img src="{% static 'app/img/icons/upgrade.svg' %}" alt="img">

                                </div>
                                <div class="p-2">
                                    <h6 class="fs-14 fw-semibold mb-1">Upgrade to More</h6>
                                    <p class="fs-13 mb-2">Subscribe to get more with Premium Features</p>
                                    <a href="plans-billings.html" class="btn btn-sm btn-primary w-100 d-flex align-items-center justify-content-center"><i class="isax isax-crown5 me-1"></i>Upgrade</a>
                                </div>
                                <a href="javascript:void(0);" class="close-icon"><i class="fa-solid fa-x"></i></a>
                            </div>
                        </div>
                    </div>