.section_content {
    position: relative;
}

.section-container {
	display:grid;
	grid-template-rows: auto auto auto auto;
	grid-template-rows: auto auto;
}
/* .section-container {
	display:grid;
	grid-template-rows: auto auto auto auto;
	grid-template-rows: auto auto;
} */

.container-main {
	margin: 0;
	padding: 0;
	
	display: grid;
	grid-template-rows: auto auto;
}

.container-main .container-main__middle {
	display: grid;
	grid-template-columns: auto auto;
}

.container-main .container-main__middle .container-main__middle--left {
	margin: 1.5rem;
}
.section-container__head {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 2rem;
}

.mb-0 {
	margin-bottom: 0 !important;
}
.mt-0 {
	margin-top: 0 !important;
}

.hover-menu {
	position: absolute;
	top: 125px;
	left: 40px;
	background: #319ecf;
	margin: 0;
	padding: 0;
	border-color: #267fa8;
	border-width: 1px 4px 1px 1px;
	border-style: solid;
	padding: 8px;
	float: left;
	width: 120px;
	display: none;
}
.hov:hover .hover-menu {
	display: block;
}

.dash-menu{
	float: left;
    list-style: none;
    margin: 0 19px 0 0;
    position: relative;
    top: 0;
    left: 0;
}
