{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<c-base.partials.top />
</head>

<body>

	<!-- Begin Wrapper -->
	<div class="main-wrapper">		

		<!-- Topbar Start -->
		<c-base.partials.header />	
		<!-- Topbar End -->

		<!-- Sidenav Menu Start -->
		<c-base.partials.sidebar />

		<!-- Sidenav Menu End -->

		<!-- ========================
			Start Page Content
		========================= -->
		<div class="page-wrapper">	
			<div class="content content-two">
                {{ slot }}
			</div>
			<!-- Start Footer -->
			<c-base.partials.footer />
			<!-- End Footer -->
		</div>
		<!-- ========================
			End Page Content
		========================= -->

	</div>
	<!-- End Wrapper -->
	<c-base.partials.bottom />
</body>

</html>