{% extends 'auth_layout.html' %} {% load static %} {% block auth_form %}

<form class="form mt-5 contact-form" action="{% url 'users:register' %}" method="post">
    {% csrf_token %} {{ form.non_field_errors }} {% for field in form %}
    <div class="form-group ">
        <div class="col-sm-12">
            {{ field }} {{ field.errors }}
        </div>
    </div>
    {% endfor %}


    <button class="btn btn-lg btn-primary btn-block" type="submit">Create Your Account</button>

</form>
{% endblock %}