				<div class="sidebar-logo">{% load static %}
					<a href="index.html" class="logo logo-normal">
						<img src="{% static 'app/img/logo.svg' %}" alt="Logo">
					</a>
					<a href="index.html" class="logo-small">
						<img src="{% static 'app/img/logo-small.svg' %}" alt="Logo">
					</a>
					<a href="index.html" class="dark-logo">
						<img src="{% static 'app/img/logo-white.svg' %}" alt="Logo">
					</a>
					<a href="index.html" class="dark-small">
						<img src="{% static 'app/img/logo-small-white.svg' %}" alt="Logo">
					</a>
					
					<!-- Sidebar Hover Menu Toggle Button -->
					<a id="toggle_btn" href="javascript:void(0);">
						<i class="isax isax-menu-1"></i>
					</a>
				</div>