			<div class="twocol-mini">
				<!-- Add -->
				<div class="dropdown">
					<a class="btn btn-primary bg-gradient btn-sm btn-icon rounded-circle d-flex align-items-center justify-content-center" data-bs-toggle="dropdown" href="javascript:void(0);" role="button"  data-bs-display="static" data-bs-reference="parent">
						<i class="isax isax-add"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-start">
						<li>
							<a href="add-invoice.html" class="dropdown-item d-flex align-items-center">
								<i class="isax isax-document-text-1 me-2"></i>Invoice
							</a>
						</li>
						<li>
							<a href="expenses.html" class="dropdown-item d-flex align-items-center">
								<i class="isax isax-money-send me-2"></i>Expense
							</a>
						</li>
						<li>
							<a href="add-credit-notes.html" class="dropdown-item d-flex align-items-center">
								<i class="isax isax-money-add me-2"></i>Credit Notes
							</a>
						</li>
						<li>
							<a href="add-debit-notes.html" class="dropdown-item d-flex align-items-center">
								<i class="isax isax-money-recive me-2"></i>Debit Notes
							</a>
						</li>
						<li>
							<a href="add-purchases-orders.html" class="dropdown-item d-flex align-items-center">
								<i class="isax isax-document me-2"></i>Purchase Order
							</a>
						</li>
						<li>
							<a href="add-quotation.html" class="dropdown-item d-flex align-items-center">
								<i class="isax isax-document-download me-2"></i>Quotation
							</a>
						</li>
						<li>
							<a href="add-delivery-challan.html" class="dropdown-item d-flex align-items-center">
								<i class="isax isax-document-forward me-2"></i>Delivery Challan
							</a>
						</li>
					</ul>
				</div>
				<!-- /Add -->
				<ul class="menu-list">
					<li>
						<a href="account-settings.html" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Settings"><i class="isax isax-setting-25"></i></a>
					</li>
					<li>
						<a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Documentation"><i class="isax isax-document-normal4"></i></a>						
					</li>
					<li>
						<a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Changelog"><i class="isax isax-cloud-change5"></i></a>						
					</li>
					<li>
						<a href="login.html"><i class="isax isax-login-15"></i></a>				
					</li>
				</ul>
			</div>