{% load static globals django_htmx %}
    {% django_htmx_script %} 
    {% for jsurl in dz_array.app.global_js.top %}
    <script src="{% static jsurl %}" ></script>{% endfor %}
    {% for jsurl in dz_array.app.page_level.js|getdata:request.path %}
    <script src="{% static jsurl %}"></script>{% endfor %}
    {% comment %} <script src="{% static 'app/js/demo/page-gallery.demo.js' %}" type="de4cd373448da7bf94968f3c-module"></script>  {% endcomment %}
    {% for jsurl in dz_array.app.global_js.down %}
    <script src="{% static jsurl %}"></script>{% endfor %}