<c-base>
    <div class="content content-two">
        <!-- Page Header -->
        <div class="d-flex d-block align-items-center justify-content-between flex-wrap gap-3 mb-3">
            <div>
                <h6>Companies</h6>
            </div>
            <div class="d-flex my-xl-auto right-content align-items-center flex-wrap gap-2">
                <div class="dropdown">
                    <a href="javascript:void(0);" class="btn btn-outline-white d-inline-flex align-items-center" data-bs-toggle="dropdown">
                        <i class="isax isax-export-1 me-1"></i>Export
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#">Download as PDF</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Download as Excel</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <a href="#" class="btn btn-primary d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#add_companies">
                        <i class="isax isax-add-circle5 me-1"></i>New Company
                    </a>
                </div>
            </div>
        </div>
        <!-- End Page Header -->

        <!-- start row -->
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="card position-relative">
                    <div class="card-body">
                        <div class="d-flex align-items-center pb-0">
                            <div class="me-2">
                                <span class="avatar avatar-lg bg-soft-info">
                                    <i class="isax isax-buildings-25 text-info fs-28"></i>
                                </span>
                            </div>
                            <div>
                                <p class="mb-1">Total Companies</p>
                                <h6 class="fs-16 fw-semibold">{{ companies|length }}</h6>

                            </div>
                        </div>
                    </div><!-- end card body -->
                </div><!-- end card -->
            </div><!-- end col -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="card position-relative">
                    <div class="card-body">
                        <div class="d-flex align-items-center pb-0">
                            <div class="me-2">
                                <span class="avatar avatar-lg bg-success-subtle">
                                    <i class="isax isax-menu-board5 text-success fs-28"></i>
                                </span>
                            </div>
                            <div>
                                <p class="mb-1">Active Companies</p>
                                <h6 class="fs-16 fw-semibold">920</h6>
                            </div>
                        </div>
                    </div><!-- end card body -->
                </div><!-- end card -->
            </div><!-- end col -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="card position-relative">
                    <div class="card-body">
                        <div class="d-flex align-items-center pb-0">
                            <div class="me-2">
                                <span class="avatar avatar-lg bg-danger-subtle">
                                    <i class="isax isax-flash-slash5 text-danger fs-28"></i>
                                </span>
                            </div>
                            <div>
                                <p class="mb-1">Inactive Company</p>
                                <h6 class="fs-16 fw-semibold">92</h6>
                            </div>
                        </div>
                    </div><!-- end card body -->
                </div><!-- end card -->
            </div><!-- end col -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="card position-relative">
                    <div class="card-body">
                        <div class="d-flex align-items-center pb-0">
                            <div class="me-2">
                                <span class="avatar avatar-lg bg-primary-subtle">
                                    <i class="isax isax-map5 text-primary fs-28"></i>
                                </span>
                            </div>
                            <div>
                                <p class="mb-1">Company Locations</p>
                                <h6 class="fs-16 fw-semibold">200</h6>
                            </div>
                        </div>
                    </div><!-- end card body -->
                </div><!-- end card -->
            </div><!-- end col -->
        </div>
        <!-- end row -->

        <!-- Table Search Start -->
        <div class="mb-3">
            <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
                <div class="d-flex align-items-center flex-wrap gap-2">
                    <div class="table-search d-flex align-items-center mb-0">
                        <div class="search-input">
                            <a href="javascript:void(0);" class="btn-searchset"><i class="isax isax-search-normal fs-12"></i></a>
                        </div>
                    </div>
                    <a class="btn btn-outline-white fw-normal d-inline-flex align-items-center" href="javascript:void(0);" data-bs-toggle="offcanvas" data-bs-target="#customcanvas">
                        <i class="isax isax-filter me-1"></i>Filter
                    </a>
                </div>
                <div class="d-flex align-items-center flex-wrap gap-2">
                    <div class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle btn btn-outline-white d-inline-flex align-items-center fw-medium" data-bs-toggle="dropdown">
                            <i class="isax isax-sort me-1"></i>Sort By : <span class="fw-normal ms-1">Latest</span>
                        </a>
                        <ul class="dropdown-menu  dropdown-menu-end">
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item">Latest</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item">Oldest</a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle btn btn-outline-white d-inline-flex align-items-center" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                            <i class="isax isax-grid-3 me-1"></i>Column
                        </a>
                        <ul class="dropdown-menu  dropdown-menu-lg">
                            <li>
                                <label class="dropdown-item d-flex align-items-center form-switch">
                                    <i class="fa-solid fa-grip-vertical me-3 text-default"></i>
                                    <input class="form-check-input m-0 me-2" type="checkbox" checked>
                                    <span>Company</span>
                                </label>
                            </li>
                            <li>
                                <label class="dropdown-item d-flex align-items-center form-switch">
                                    <i class="fa-solid fa-grip-vertical me-3 text-default"></i>
                                    <input class="form-check-input m-0 me-2" type="checkbox" checked>
                                    <span>Domain URL</span>
                                </label>
                            </li>
                            <li>
                                <label class="dropdown-item d-flex align-items-center form-switch">
                                    <i class="fa-solid fa-grip-vertical me-3 text-default"></i>
                                    <input class="form-check-input m-0 me-2" type="checkbox" checked>
                                    <span>Plan</span>
                                </label>
                            </li>
                            <li>
                                <label class="dropdown-item d-flex align-items-center form-switch">
                                    <i class="fa-solid fa-grip-vertical me-3 text-default"></i>
                                    <input class="form-check-input m-0 me-2" type="checkbox">
                                    <span>Created On</span>
                                </label>
                            </li>
                            <li>
                                <label class="dropdown-item d-flex align-items-center form-switch">
                                    <i class="fa-solid fa-grip-vertical me-3 text-default"></i>
                                    <input class="form-check-input m-0 me-2" type="checkbox">
                                    <span>Status</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Filter Info -->
            <div class="align-items-center gap-2 flex-wrap filter-info mt-3">
                <h6 class="fs-13 fw-semibold">Filters</h6>
                <span class="tag bg-light border rounded-1 fs-12 text-dark badge"><span class="num-count d-inline-flex align-items-center justify-content-center bg-success fs-10 me-1">5</span>Companies Selected<span class="ms-1 tag-close"><i class="fa-solid fa-x fs-10"></i></span></span>
                <span class="tag bg-light border rounded-1 fs-12 text-dark badge"><span class="num-count d-inline-flex align-items-center justify-content-center bg-success fs-10 me-1">2</span>Plans Selected<span class="ms-1 tag-close"><i class="fa-solid fa-x fs-10"></i></span></span>
                <a href="#" class="link-danger fw-medium text-decoration-underline ms-md-1">Clear All</a>
            </div>
            <!-- /Filter Info -->

        </div>
        <!-- Table Search End -->

        <!-- Table List Start -->
        <div class="table-responsive">
            <table class="table table-nowrap datatable">
                <thead class="thead-light">
                    <tr>
                        <th class="no-sort">
                            <div class="form-check form-check-md">
                                <input class="form-check-input" type="checkbox" id="select-all">
                            </div>
                        </th>
                        <th class="no-sort">Name</th>
                        <th class="no-sort">Parent Company</th>
                        <th class="no-sort">Account Type</th>
                        <th>Address</th>
                        <th>Created On</th>
                        {% comment %} <th class="no-sort">Status</th> {% endcomment %}
                        <th class="no-sort"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for company in companies %}
                    <tr>
                        <td>
                            <div class="form-check form-check-md">
                                <input class="form-check-input" type="checkbox">
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <a href="{% url 'companies:company-detail' company.id %}" class="avatar avatar-sm  me-2 flex-shrink-0" data-bs-toggle="modal" data-bs-target="#companies_details">

                                    <img src="/media/{{ company.logo }}" class="" alt="img">
                                </a>
                                <div>
                                    <h6 class="fs-14 fw-medium mb-0"><a href="{% url 'companies:company-detail' company.id %}">{{ company.title }}</a></h6>
                                </div>
                            </div>
                        </td>
                        {% comment %} <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6a1e180f040e02031c0f2a0f120b071a060f44090507">[email&#160;protected]</a></td> {% endcomment %}
                        <td>{{ company.parent_company }}</td>
                        <td>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-0">{{ company.account_type }}</p>
                                <a href="javascript:void(0);" class="ms-3"><span class="btn btn-sm btn-light p-1 d-inline-flex align-items-center"><i class="isax isax-candle"></i></span></a>
                            </div>
                        </td>
                        <td>{{ company.address }}</td>
                        <td>{{ company.created }}</td>
                        <td class="action-item">
                            <a href="javascript:void(0);" data-bs-toggle="dropdown">
                                <i class="fa-solid fa-ellipsis"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#view_companies"><i class="isax isax-eye me-2"></i>View</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#edit_companies"><i class="isax isax-edit me-2"></i>Edit</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="isax isax-trash me-2"></i>Delete</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    {% empty %}
                    No company to show
                    {% endfor %}    
                </tbody>
            </table>
        </div>
        <!-- Table List End -->
    </div>
</c-base>


