<table id="tech-companies-1" class="table  table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th data-priority="1">Account Name</th>
            <th data-priority="3">Customer Name</th>
            <th data-priority="3">Items</th>
            <th data-priority="1"> Note</th>
            <th data-priority="3">Date Created</th>

        </tr>
    </thead>
    <tbody>
        {% for item in object_list %}
        <tr>
            <td>{{item.id}}</td>
            <th><span class="co-name">{{item.account}}</span></th>
            <td>
                {{item.customer}}
            </td>
            <td>
                {% for i in item.sale_items.all %}
                <p>{{i}}, </p>
                {% endfor %}

            </td>
            <td>{{item.Note}}</td>
            <td>{{item.created}}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th>Total Amount:</th>
            <td>{{total_price.total__sum}}</td>
        </tr>
    </tfoot>
</table>