<!--[if !IE]>start pagination<![endif]-->
<div class="pagination">
    <span class="page_no">Page 1 of {{page_obj.paginator.num_pages}}</span>
  
    <ul class="pag_list">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="button light_blue_btn"><span><span>PREVIOUS</span></span></a> </li>
        {% else %}
        <li class="disabled"></li>
        {% endif %} 
        {% for page in page_obj.paginator.page_range %} 
                {% if page_obj.number == page %}
                <li><a href="#" class="current_page">{{page}}</a></li>
                {% else %}
                <li><a href="?page={{ page }}">{{page}}</a></li>
                {% endif %} {% endfor %}
                <li>[...]</li>
  
                {% if page_obj.has_next %}
    
        <li>
            <a href="?page={{ page_obj.next_page_number }}" class="button light_blue_btn">
                <span>
                    <span>NEXT</span>
                </span>
            </a> 
        </li>
        {% else %}
                <li class="disabled">></li>
  
  {% endif %}
    </ul>
  
  
  </div>
  <!--[if !IE]>end pagination<![endif]-->