{% extends 'base.html' %} {% load static %} {% block main %}
<div class="section">
  <!--[if !IE]>start title wrapper<![endif]-->
  <div class="title_wrapper">
    <h2>{{model_name}}'s Dashboard</h2>
    <span class="title_wrapper_left"></span>
    <span class="title_wrapper_right"></span>
  </div>
  <!--[if !IE]>end title wrapper<![endif]-->
  <!--[if !IE]>start section content<![endif]-->
  <div class="section_content">
    <!--[if !IE]>start section content top<![endif]-->
    <div class="sct">
      <div class="sct_left">
        <div class="sct_right">
          <div class="sct_left">
            <div class="sct_right">
              <!--[if !IE]>start dashboard menu<![endif]-->
              <div class="dashboard_menu_wrapper">
                <ul class="dashboard_menu">
                  <li class="dashboard-icon hov">
                    <a href="#" class="d1"
                      ><span>User Management Tools</span>
                    </a>
                    <ul class="hover-menu">
                      <li class="dash-menu">
                        <a class="sm6" href="#">Download options</a>
                      </li>
                      <li><a class="sm4" href="#">Menu item</a></li>
                      <li><a class="sm6" href="#">Download options</a></li>
                      <li><a class="sm6" href="#">Download options</a></li>
                      <li><a class="sm6" href="#">Download options</a></li>
                    </ul>
                  </li>

                  <li>
                    <a href="#" class="d2"><span>Setup upload folders</span></a>
                  </li>
                  <li>
                    <a href="#" class="d3"
                      ><span>Manage photo galleries</span></a
                    >
                  </li>
                  <li>
                    <a href="#" class="d4"
                      ><span>Change site templates</span></a
                    >
                  </li>
                  <li>
                    <a href="#" class="d5"
                      ><span>SEO Tools and Settings</span></a
                    >
                  </li>
                  <li>
                    <a href="#" class="d6"
                      ><span>Email Settings and Templates</span></a
                    >
                  </li>
                  <li>
                    <a href="#" class="d7"
                      ><span>Homepage and Static Pages</span></a
                    >
                  </li>
                  <li>
                    <a href="#" class="d8"
                      ><span>Website Security Settings</span></a
                    >
                  </li>
                  <li>
                    <a href="#" class="d9"
                      ><span>Printable Pages Template</span></a
                    >
                  </li>
                  <li>
                    <a href="#" class="d10"><span>Date and Time Setup</span></a>
                  </li>
                  <li>
                    <a href="#" class="d11"><span>Favorires Settings</span></a>
                  </li>
                  <li>
                    <a href="#" class="d12"
                      ><span>Statistics and Graphs</span></a
                    >
                  </li>
                </ul>
              </div>
              <!--[if !IE]>end dashboard menu<![endif]-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--[if !IE]>end section content top<![endif]-->
    <!--[if !IE]>start section content bottom<![endif]-->
    <span class="scb"
      ><span class="scb_left"></span><span class="scb_right"></span
    ></span>
    <!--[if !IE]>end section content bottom<![endif]-->
  </div>
  <!--[if !IE]>end section content<![endif]-->
</div>

<div class="section table_section section-container">
  <!--[if !IE]>start title wrapper<![endif]-->
  
  
  <div class="section-container__bottom">
      {% if purchase_list %} 
        {% include 'transactions/transaction_partials/_purchase_list.html' %} 
    {% elif sale_list %} 
        {% include 'transactions/transaction_partials/_sale_list.html' %} 
    {% elif sale_list %} 
        {% include 'transactions/transaction_partials/_payment_list.html' %} 
    {% elif payment_list %} 
        {% include 'transactions/transaction_partials/_payment_list.html' %}  
    {% elif receive_list %} 
        {% include 'transactions/transaction_partials/_receive_list.html' %} 
    {% elif invoice_list %} 
        {% include 'transactions/transaction_partials/_invoice_list.html' %} 
    {% endif %}

  </div>

    
  <!--[if !IE]>end section content<![endif]-->
</div>

{% endblock %}
