{% extends 'base.html' %} {% load static %} {% block main %}

<div class="section">
    <div class="sct">
        <div class="sct_left">
            <div class="sct_right">
                <div class="sct_left">
                    <div class="sct_right">

                       {% if form.vendor %}
                        <h3>Create a purchase</h3>
                        {% elif form.customer %}
                        <h3>Create a sale</h3>
                        {% endif %}

                        <form action="#" class="search_form general_form">
                            <!--[if !IE]>start fieldset<![endif]-->
                            <fieldset>
                                <!--[if !IE]>start forms<![endif]-->
                                <div class="forms">
                       
<style>

</style>

                        <!-- <h1>Submit your form here!</h1> -->
                        <form action="." method="post">
                            {% csrf_token %} 

                            <div class="form__inline-group">
<table cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <th>No.</th>
                                                        <th><a href="#">Status</a></th>
                                                        <th><a href="#" >Item/a></th>
                                                        <th style="width: 10rempx;"><a href="#" >Description</a></th>
                                                        <th style="width: 2rempx;"><a href="#">Quantity</a></th>
                                                        <th style="width: 2rempx;"><a href="#">Unit</a></th>
                                                        <th style="width: 8rem;">Actions</th>
                                                    </tr>
                                                    <tr class="first">
                                                        <td>1.</td>
                                                        <td><span class="approved">Approved</span></td>
                                                        <td>{{form.sale_items}}</td>
                                                        <td><input type="text" name="description"></td>
                                                        <td><input type="number" name="quantity"></td>
                                                        <td><input type="number" name="unit"></td>
                                                        <td>
                                                            <div class="actions">
                                                                <ul>
                                                                    <li><a class="action1" href="#">1</a></li>
                                                                    <li><a class="action2" href="#">2</a></li>
                                                                    <li><a class="action3" href="#">3</a></li>
                                                                    <li><a class="action4" href="#">4</a></li>
                                                                    <li><input class="radio" name="" type="checkbox" value="" /></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="second">
                                                        <td>1.</td>
                                                        <td><span class="pending">Pending</span></td>
                                                        <td>FB-H061</td>
                                                        <td>Elaine Rosen</td>
                                                        <td>06/18/2008</td>
                                                        <td>$106.38</td>
                                                        <td>
                                                            <div class="actions">
                                                                <ul>
                                                                    <li><a class="action1" href="#">1</a></li>
                                                                    <li><a class="action2" href="#">2</a></li>
                                                                    <li><a class="action3" href="#">3</a></li>
                                                                    <li><a class="action4" href="#">4</a></li>
                                                                    <li><input class="radio" name="" type="checkbox" value="" /></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    


                                                </tbody>
                                            </table>
                            </div>
                            <label for="sale-items">Items: </label>
                            <div class="form-items">
                               
                                
                                
                                <input type="number" name="unit">
                            </div>
                           

                            <div class="col-lg-4 mx-auto">
                                <h6 class="light-dark mb-2">Searchable</h6>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        </fieldset>
                   
                        </form>

                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end row-->
   
   {% endblock %} {% block customjs %}
    

    {% endblock %}