{% extends 'base.html' %} {% load static %} {% block main %}

<div class="container-fluid">
    <div class="page-head">

        <h4 class="mt-2 mb-2">List of {{model_name.lower}}</h4>

    </div>
    <div class="responsive-table">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="card m-b-30">
                    <div class="col-sm-2 mt-1 ml-auto">
                        <a class="btn btn-primary" href="./{{model_name.lower}}s/add/">Add</a>
                    </div>
                    <div class="card-body">
                        <h5 class="header-title">List of {{model_name}}</h5>
                        <p class="text-muted">This is an experimental awesome solution for responsive tables with complex data.</p>
                        <div class="table-rep-plugin">
                            <div class="table-responsive" data-pattern="priority-columns">
                                {% if purchase_list %} {% include 'transactions/transaction_partials/_purchase_list.html' %} {% elif sale_list %} {% include 'transactions/transaction_partials/_sale_list.html' %} {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end row-->
    </div>
    {% endblock %}