{% extends '_base.html' %} {% load static %} {% block main %}

<!-- ADD MORE ITEMS POPUP -->
{% if "add" == request.path %}
<div class="popup_container">
    <div class="invoice__add-items">
        <div class="invoice__add-items--inner-frame">

            {% include 'transactions/invoice_formset.html' %}

        </div>

    </div>
</div>
{% endif %}
<!-- ADD ITEMS END -->

<div class="invoice_memo">
    <div class="invoice_memo__company-name">
        <span>{{object.account}}</span>
        <div class="invoice_memo__right-arrow"></div>
    </div>

    <div class="invoice_memo__logo">
        <img data-logo="{company_logo}" />
    </div>

    <div class="company-info">
        <div>
            <span>{{object.account.address.addr_line1}}</span> <span>{{object.account.address.zipcode}}</span>
        </div>
        <div>{{object.account.address.email}}</div>
        <div>{{object.account.address.phone}}</div>
    </div>

</div>

<div class="invoice-info">
    <div>
        <span>Issued Date:</span>
        <span>Due Date:</span>
        <span>Payment Term:</span>
        <span>Invoice Number</span>
    </div>

    <div>
        <span>{{object.created}}</span>
        <span>{{object.due_date}}</span>
        <span>{{object.payment_term}}</span>
        <span>{{object.id}}</span>
    </div>
</div>

<div class="client-info">
    <span>Customer Name</span>
    <div>
        <span class="bold">{{object.customer}}</span>
    </div>

    <div>
        <span>{{object.customer.address.addr_line1}}</span>
    </div>

    <div>
        <span>{{object.customer.address.zipcode}}</span>
    </div>

    <div>
        <span>{{object.customer.address.phone}}</span>
    </div>

    <div>
        <span>{{object.customer.address.email}}</span>
    </div>

    <!-- <div>
          <span>{client_other}</span>
        </div>-->
</div>

<div class="clearfix"></div>

<div class="invoice-title-number">

    <span class="invoice-title-number__title">Invoice #</span>
    <span class="invoice-title-number__number">{{object.id}}</span>

</div>

<div class="clearfix"></div>

<div class="invoice-items">
    <button class="btn btn-primary">
      <a href="{{ object.get_update_url }}"
      >Edit Invoice</a></button>
      <button class="btn btn-primary"> <span>
          <a 
        class="btn btn-primary" 
        href="{{ object.pay }}">Pay Invoice</a> </button>
    </span>
    
    <table cellpadding="0" cellspacing="0">

        <tr>
            <th>#</th>
            <!-- Dummy cell for the row number and row commands -->
            <th>Item Description</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Taxes</th>
            <th>Sub Total</th>
        </tr>
        {% for item in items %}
        {{item.total}}
        <tr data-iterate="item">

            <td>{{ forloop.counter }}</td>
            <!-- Don't remove this column as it's needed for the row commands -->
            <td>{{item.item.title}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.unit_price}}</td>
            <td>0</td>
            <td>0</td>
            <td>{{item.total}}</td>

        </tr>
        {% endfor %}
    </table>

</div>

<div class="invoice-currency">
    <span>Currency</span> <span>USD</span>
</div>

<div class="invoice-sums">

    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>Total Price</th>
            <td>{{invoice_total}}</td>
        </tr>

        <tr data-iterate="tax">
            <th>VAT</th>
            <td>0</td>
        </tr>

        <tr class="amount-total">
            <th>Final Price</th>
            <td>{{invoice_total}}</td>
        </tr>

        <!-- You can use attribute data-hide-on-quote="true" to hide specific information on quotes.
               For example Invoicebus doesn't need amount paid and amount due on quotes  -->
        <tr data-hide-on-quote="true">
            <th>Paid Amount</th>
            <td>0</td>
        </tr>

        <tr data-hide-on-quote="true">
            <th>Customer Balance</th>
            <td>{{object.customer.balance}}</td>
        </tr>

    </table>

</div>

<div class="clearfix"></div>

<div class="invoice-terms">

    <span>{terms_label}</span>
    <div>{terms}</div>

</div>

<div class="payment-info">
    <div>{payment_info1}</div>
    <div>{payment_info2}</div>
    <div>{payment_info3}</div>
    <div>{payment_info4}</div>
    <div>{payment_info5}</div>
</div>


{% endblock main %}